*.pyc
*/__pycache__/
__pycache__/
*/.venv/
.venv/

# Ignore Django migration files
*/migrations/

# Ignore les fichiers static créés pour le déploiement
/staticfiles/

# Ignore database files, media folder
*/*.sqlite3
*.sqlite3
*/test_media/temp/*
media/recipe_images/*
