*.pyc
*/__pycache__/
__pycache__/
*/.venv/
.venv/

# Ignore Django migration files
*/migrations/

# Ignore les fichiers static créés pour le déploiement
/staticfiles/

# Ignore database files
*.sqlite3