h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: var(--couleur-secondaire) solid 2px;
}

input[type="text"], input[type="url"] {
    width: 300px;
}

input[type="number"] {
    width: 50px;
}

input[type="checkbox"] {
    order: 1;
}

textarea {
    width: 80%;
    height: 150px;
    box-sizing: border-box;
}

.form-add-recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%
}

.form-subsection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width:80%;
    box-sizing: border-box;
}

.form-recipe {
    width: 100%
}

.form-recipe p {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width:100%;
}

.form-recipe label{
    text-align: right;
    width: 20%;
    margin-bottom: 5px;
}

.form-ingredient {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.form-ingredient p {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

.form-ingredient p {
    align-self: flex-end;
}

.form-ingredient .btn {
    margin: 1px 0px;
    align-self: flex-end;
}

.form-action p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-action label {
order: 2;
}

.section-submit {
    align-self: center;
}

#section-ingredient {
    display: flex;
    flex-direction: column;
    width:100%;
}

input#id_unit {
    width: 100px; 
}