.recipe-description-history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0px 10px 5px 10px;
    gap: 10px;
    white-space: nowrap;
    background-color: #FFFFFF;
}

.recipe-description-history p {
    font-weight: bold;
    margin: 0;
}


