.section-friend {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: var(--couleur-secondaire) solid 2px;
}

.section-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}


#form-add-friend {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    margin-bottom: 10px;
}

#form-add-friend label {
    display: none
}

ul#friend-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    padding: 0;
    list-style-type: none;
}

ul#friend-list li {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul#friend-list li:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.friends {
    display: flex;               
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    height: 40px;
    width: 100px;
    text-decoration: none;
    background-color: #FFFFFF;
    font-size: 16px; 
    font-weight: bold;
    cursor: pointer;
}

ul.errorlist {
    display: none
}

#error-message{
    list-style-type: none;
    color: #d23d24;
} 

