.confirmation-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    text-align: center;
    margin-top: 100px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.confirmation-box ul {
    text-align: left;
    list-style-type: none;
    padding: 0;
}
.confirmation-box li {
    margin: 10px 0;
    font-size: 18px;
}