.thumbnail-recipes {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 95%;
    gap: 10px;
}

.thumbnail-recipes h3 {
    margin: 5px 0px 10px 0px; 
}

.thumbnail-recipes dl {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
    gap: 5px;
}

.thumbnail-recipes dd, .thumbnail-recipes dt {
    display: flex;
    align-items: center;
    justify-content:center;
    box-sizing: border-box;
    margin: 0;
    white-space: normal;
}

.thumbnail-recipes dt {
    font-weight: bold;
}

.thumbnail-recipes .recipe-content {
    box-sizing: border-box;
    width: calc(25% - 10px);
    min-width: 220px;
}

.thumbnail-recipes .img-placeholder {
    min-height: 100px;
}

.thumbnail-recipes .recipe-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:  center;
    box-sizing: border-box;
    padding: 0px 5px 5px 5px;
    background-color: #FFFFFF;
}

.thumbnail-recipes .recipe-metrix {
    width: 100%;
}