.confirmation-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    text-align: center;
    margin-top: 100px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.confirmation-box ul {
    text-align: left;
    list-style-type: none;
    padding: 0;
}
.confirmation-box li {
    margin: 10px 0;
    font-size: 18px;
}

.continue-button {
    all: unset;
    border-color: var(--couleur-texte-principale);
    border-style: solid;
    border-width: 1px;
    padding: 5px 20px;
    background-color: var(--couleur-tertiaire);
    color: var(--couleur-texte-principale);
    font-size: 12px;  
    font-weight: bold;
    cursor: pointer;        
    transition: all 0.1s ease;
}


.continue-button:hover {
    transform: scale(1.05);
}