{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style_base.css' %}" />
        {% block head %}{% endblock %}
        <title>
            My Recipe Journal - {% block title %}Bienvenue{% endblock %}
        </title>
    </head>
    <body id="{% block bodyId %}generic-page{% endblock %}">
        <header>
            {% block headerContent %}
            <h1>My Recipe Journal</h1>
            <ul id="header-link-list" logged-user-id="{{ logged_user.id }}">
                <li>
                    <a href="/search-recipe" class="header-link">Chercher une recette</a>
                </li>
                <li>
                    {% if not logged_user %}
                    <a class="header-link" href="login">Me connecter</a>
                    {% else %}
                    <div class="dropdown">
                        <a class="header-link" id="login" href="welcome">{{ logged_user.username }}</a>
                        <div class="dropdown-menu">
                            <form method="post" action="show-recipe-collection">
                                {% csrf_token %}
                                <input type="hidden" name="collection_name" class="hidden" value="history">
                                <input type="hidden" name="member" value="{{ logged_user.id }}">
                                <input class="dropdown-item" type="submit" value="Mon historique de recettes">
                            </form>
                            <a class="dropdown-item" href="modify-profile">Modifier mon profil</a>
                            <a class="dropdown-item" href="logout">Me déconnecter</a>
                        </div>
                    </div>
                    {% endif %}
                </li>
                <li>
                    <form method="post" action="add-recipe">
                        {% csrf_token %}
                        <input  class="header-link"  type="submit" value="Editer une recette">
                    </form>
                </li>
                <li>
                    <form method="post" action="show-recipe-collection">
                        {% csrf_token %}
                        <input type="hidden" name="collection_name" class="hidden" value="album">
                        <input type="hidden" name="member" value="{{ logged_user.id }}">
                        <input  class="header-link"  type="submit" value="Mon album de recettes">
                    </form>
                </li>
                <li>
                    <form method="post" action="show-recipe-collection" class="header-link" >
                        {% csrf_token %}
                        <input type="hidden" name="collection_name" class="hidden" value="trials">
                        <input type="hidden" name="member" value="{{ logged_user.id }}">
                        <input class="header-link" type="submit" value="Mes recettes à essayer">
                    </form>
                </li>
                <li><a class="header-link" href="/show-friends">Mes amis</a></li>
            </ul>         
  
            {% endblock %}
        </header>
        <main>
            {% include "partials/modal_notification.html" %}
            {% block content %}{% endblock %}
        </main>
        <script type="text/javascript" src="{% static 'js/script_base.js' %}"></script>
    </body>
 </html>