{% extends "base.html" %}
{% load static %}
{% block head %}<link rel="stylesheet" type="text/css" href="{% static 'css/style_profile.css' %}" />{% endblock %}

{% block title %}Connexion{% endblock %}

{% block bodyId %}loginPage{% endblock %}

{% block content %}
<h1>Me connecter</h1>
<form action="login" method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <p class="submit-section">
        <input type="submit" class="btn btn-validate" value="Me connecter" />
        <a href="register">Créer un compte</a>
    </p>

</form>
{% endblock %}