{% extends "base.html" %}
{% load static %}
{% block head %}<link rel="stylesheet" type="text/css" href="{% static 'css/style_profile.css' %}" />{% endblock %}

{% block title %}Modification d'un profil{% endblock %}

{% block bodyId %}modify-profile-page{% endblock %}

{% block content %}
<div class="section-title">
<h1>Modifier mon profil</h1>
</div>
<form action="modify-profile" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p class="section-submit">
        <input type="submit" class="btn btn-validate" value="Modifier" />
        <a href="/welcome">Retour vers la page d'accueil</a>
    </p>
</form>
{% endblock %}