{% extends "base.html" %}
{% load static %}
{% block head %}<link rel="stylesheet" type="text/css" href="{% static 'css/style_profile.css' %}" />{% endblock %}

{% block title %}Création d'un profil{% endblock %}

{% block bodyId %}registrationPage{% endblock %}

{% block content %}
<div class="section-title">
<h1>Créer mon espace</h1>
</div>
<form action="register" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p class="section-submit">
        <input type="submit" class="btn btn-validate" value="Créer" />
        <a href="/welcome">Retour vers la page d'accueil</a>
    </p>
</form>
{% endblock %}