{% extends "base.html" %}
{% load static %}
{% block head %}<link rel="stylesheet" type="text/css" href="{% static 'css/style_register.css' %}" />{% endblock %}

{% block title %}Création d'un profil{% endblock %}

{% block bodyId %}registrationPage{% endblock %}

{% block content %}
<h1>Créer mon espace</h1>
<form action="register" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p class="submit-section">
        <input type="submit" value="Créer" />
        <a href="login">Retour vers la page d'accueil</a>
    </p>
</form>
{% endblock %}