{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style_show_friends.css' %}" />
{% endblock %}
{% block title %}Amis{% endblock %}

{% block bodyId %}showFriendPage{% endblock %}

{% block content %}
<div class="section-title">
    <h1> Mes {{ friends.count }} amis </h1>
</div>
<div class="section-content section-content--friends">
    <ul class="friend-list">
        {% for friend in friends.all %}
            <li class="dropdown">
                <button type="button">{{ friend.username }}</button>
                <div class="dropdown-menu">
                    <form method="post" action="show-recipe-collection">
                        {% csrf_token %}
                        <input type="hidden" name="collection" class="hidden" value="RecipeAlbumEntry">
                        <input type="hidden" name="member" value="{{ friend.id }}">
                        <input class="dropdown-item" type="submit" value="Album de recettes">
                    </form>
                    <form method="post" action="show-recipe-collection">
                        {% csrf_token %}
                        <input type="hidden" name="collection" class="hidden" value="RecipeHistoryEntry">
                        <input type="hidden" name="member" value="{{ friend.id }}">
                        <input class="dropdown-item" type="submit" value="Historique de recettes">
                    </form>
                    <form action="/show-friends" method="post" style="display: inline-block;">
                        {% csrf_token %}
                        <input type="hidden" name="username_to_remove" value="{{ friend.username }}">
                        <button type="submit" class="dropdown-item">Retirer de ma liste d'amis</button>
                    </form>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
<div class="section-content">
    <ul class="error-message">
        {% if messages %}
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
        {% endif %}
        {% if form.errors %}
            {% for _, field_errors in form.errors.items %}
                {% for error in field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </ul>
    <form class="form-add-friend" action="/show-friends" method="get">
        {{ form.as_p }}
        <input type="submit" class="btn btn-validate" value="ajouter à ma liste d'amis"/>
    </form>
    <a href="/welcome">Retour vers la page d'accueil</a>
    </div>
</div>
{% endblock %}