{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/style_base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style_show_recipe.css' %}" />
{% endblock %}

{% block title %}Recette{% endblock %}

{% block bodyId %}recipePage{% endblock %}

{% block content %}
<div id="recipe-history-modals">
{% include "partials/modal_add_recipe_history.html" %}
{% include "partials/modal_remove_recipe_history.html" %}
</div>

<div class="section-title section-title--recipepage">
    <h1>Titre de la recette: {{ recipe.title }}</h1>
    <p>Lien web: <a href={{ recipe.url_link }}>{{ recipe.url_link }}</a></p>
    <div id="collection-buttons" current-recipe-id="{{ recipe.id }}">
        <div class="dropdown"  model-name="RecipeAlbumEntry">
            <button class="collection-button" id="album-button" type="button">mon album</button>
            <div class="dropdown-menu">
                <button type="button" class="dropdown-item add-to-collection" id="add-to-album">Ajouter à mon album</button>
                <button type="button" class="dropdown-item remove-from-collection" id="remove-from-album">Retirer de mon album</button>
            </div>
        </div>
        <div class="dropdown" model-name="RecipeHistoryEntry">
            <button class="collection-button" id="history-button" type="button">mon historique</button>
            <div class="dropdown-menu">
                <button type="button" class="dropdown-item add-to-collection" id="add-to-history">Ajouter à mon historique</button>
                <button type="button" class="dropdown-item remove-from-collection" id="remove-from-history">Retirer de mon historique</button>
            </div>
        </div>
        <div class="dropdown" model-name="RecipeToTryEntry">
            <button class="collection-button" id="recipe-to-try-button" type="button">mes recettes à essayer</button>
            <div class="dropdown-menu">
                <button type="button" class="dropdown-item add-to-collection" id="add-to-recipe-to-try">Ajouter à mes recettes à essayer</button>
                <button type="button" class="dropdown-item remove-from-collection" id="remove-from-recipe-to-try">Retirer de mes recettes à essayer</button>
            </div>
        </div>
    </div>
</div>

<div class="section-content section-content--recipepage">
    <div class="recipe-content">
        <div class="central-content">
            <div class="img-placeholder"><img class="recipe-img" src="{{ MEDIA_URL }}{{ recipe.image }}" alt="{{ recipe.title }}"></div>
            <p class="short-description">{{ recipe.short_description }}</p>
        </div>
        <div class="side-bar">
            <dl>
                <dt>Temps de cuisson</dt>
                <dd>{{ recipe.cooking_time }}</dd>
                <dt>Temps de repos</dt>
                <dd>{{ recipe.resting_time }}</dd>
                <dt>Préparation</dt>
                <dd>{{ recipe.cooking_preparation }}</dd>
            </dl>
        </div>
    </div>
    <div class="recipe-content recipe-content--main">
        <div class="central-content central-content--main">
            <div class="text-placeholder">
                <h2>Etapes de la recette</h2>
                <p>{{ recipe.content }}</p>
            </div>
            <div class="text-placeholder">
                <h2>Commentaires</h2>
                <p>commentaires</p>
            </div>
        </div>
        <div class="side-bar">
            <dl>
            {% for recipe_ingredient in recipe.recipe_ingredient.all %}
                <dt>{{ recipe_ingredient.quantity }} {{ recipe_ingredient.unit }} </dt>
                <dd>{{ recipe_ingredient.ingredient.name }}</dd>
            {% endfor %}
            </dl>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/script_base.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script_show_recipe.js' %}"></script>
{% endblock %}