{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_welcome.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style_base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style_thumbnail_recipes.css' %}" />
{% endblock %}
{% block title %}Accueil{% endblock %}

{% block bodyId %}homePage{% endblock %}

{% block content %}
<div class="section-title">
    <h1>Bienvenue {{ logged_user.username }}! Suggestion de recettes du jour</h1>
</div>
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
<div class="top-recipes">
    {% for recipe in top_recipe_list %}
    <div class="recipe-content">
        <div class="img-placeholder"><img class="recipe-img" src="{{ MEDIA_URL }}{{ recipe.image }}" alt="{{ recipe.title }}"></div>
        <div class="recipe-description">
            <h2><a href="show-recipe?recipeId={{ recipe.id }}">{{ recipe.title }}</a></h2>
            <p class="source"><strong>Source:</strong> {{ recipe.source }}</p>
            <p>{{ entry.recipe.short_description }}</p>
            <div class="recipe-metrix">
                <p><strong>Préparation:</strong> {{ recipe.cooking_preparation }} min</p>
                <p><strong>Cuisson:</strong> {{ recipe.cooking_time }} min</p>
                <p><strong>Repos:</strong> {{ recipe.resting_time }} min</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% include "partials/thumbnail_recipes.html" %}
{% endblock %}